# Ignore .pyc files
/**/*.pyc

# Ignore Python Virtual Environment
/venv/*

# Ignore Eclipse project config files
/.project
/.pydevproject

# Ignore Cython build related files
*.pyd
*.c
*.so
build_directory/